<div class="cnt-trad_l">
	<h3>My Shot - Hamilton: An Americal Musical</h3>
	<p>
		<span>I am not throwing away my shot!</span>
        <br>
        <span>I am not throwing away my shot!</span>
        <br>
        <span>Hey yo, I’m just like my country</span>
        <br>
        <span>I’m young, scrappy and hungry</span>
        <br>
        <span>And I’m not throwing away my shot!</span>
        <br><br>
    </p>
	<p>
		<span>I’m ‘a get a scholarship to King’s College</span><br>
		<span>I prob’ly shouldn’t brag, but dag, I amaze and astonish</span><br>
		<span>The problem is I got a lot of brains but no polish</span><br>
		<span>I gotta holler just to be heard</span><br>
		<span>With every word, I drop knowledge!</span><br><br>		
	</p>
	<p>
		<span>I have learned to manage, I don’t have a gun to brandish</span><br>
		<span>I walk these streets famished</span><br>
		<span>The plan is to fan this spark into a flame</span><br>
		<span>But damn, it’s getting dark, so let me spell out the name</span><br>
		<span>I am the A-L-E-X-A-N-D-E-R We are meant to be</span><br><br>		
	</p>
</div>
