<section class="hero is-success is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <small class="title"> Desenvolvido por: 
        <ul>
          <li><a href="">Ighor</a></li>
          <li><a href="">Rodrigo</a></li>
          <li><a href="">Rosimary</a></li>
          <li><a href="">Savio</a></li>
        </ul>
      </small>
    </div>
  </div>
</section>