<section class="hero is-success is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"><i class="fa fa-laptop"></i> Participe da Semana JS Expert.</h1>
      <span class="tag is-medium is-medium is-rounded">
        <a href ="https://javascriptexpert.com.br/lc_jse_mar21_inscricao" target ="_blank" style="text-decoration: none">Participe da Semana JS Expert!</a> 
      </span>
    </div>
  </div>
</section>